# dependencies
node_modules/

# production build
dist/
build/

# local env files
.env
.env.local
.env.production
.env.development
.env.*.local
.env.production

# macOS system file
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?